// -----------------------------------------------------------------------------
// VARIABELS
// -----------------------------------------------------------------------------

// Sizes
$max-mobile-width: 375px;
$min-tablet-width: 768px;
$min-desktop-width: 1024px;
$min-wide-desktop-width: 1366px;
$sidebar-width: 14em;
$button-bar-height: 4em;

// Colors
$pink: #e60050;
$purple: #a2185b;
$blue: rgb(0,196,255);
$orange: #f39a00;
$background-color: #f7f9fa;
$sidebar-background: #282828;
$gray1: #f7f9fa;
$gray2: #282828;
$gray3: #404040;
$gray4: #ccc;
$gray5: #ddd;


// -----------------------------------------------------------------------------
// INCLUDES
// -----------------------------------------------------------------------------

@import "partials/fonts";
@import "partials/logo";


// -----------------------------------------------------------------------------
// GLOBAL STUFF
// -----------------------------------------------------------------------------

html, body {
  font-family: 'ClearSans', sans-serif;
  font-weight: 100;
  font-size: 18px;
  margin: 0; padding: 0;
  width:100%;
  height:100%;
  position:relative;
  background-color: $gray1;
}

// Disable certain interactions on touch devices
// so it feels more like a real application
body {
  -webkit-touch-callout: none;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.gray {
  color: $gray4;
  // font-size: 0.8em;
}

.hint {
  color: $gray3;
  font-size: 0.8em;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

.area h1 {
  text-align: center;
  margin: 0em 0 1em 0;
  color: $purple;
}

a {
  color: darken($blue, 20%);
}

a:hover {
  color: darken($blue, 10%);
}

strong {
  font-weight: 300;
}


// -----------------------------------------------------------------------------
// Sidebar
// -----------------------------------------------------------------------------
#sidebar-toggle {
  display: none;
  position: absolute;
  width: 100%;
  height: 1em;
  background-color: #666;
  z-index: 98;
  text-align: center;
  line-height: 1em;
  padding: 1em 0;
  color: $gray5;
  cursor: pointer;
}
#sidebar-toggle:hover {
  color: white;
}

#sidebar-toggle img {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
#sidebar-toggle span {
  position: relative;
  top: -0.1em;
  cursor: pointer;
}

#sidebar {
  // font-weight: 100;
  left: 0; top: 0;
  width: $sidebar-width;
  height: calc(100% - 1.5em);
  padding: 1.5em 0 0 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: $sidebar-background;
  position: absolute;
}
#sidebar.mobile-menu {
  display: initial;
}

@media (max-width: $min-tablet-width) {
  #sidebar-toggle {
      display: initial;
  }
  #sidebar {
    // position: fixed;
    width: 100%;
    height: 100%;
    margin-top: 3em;
    z-index: 97;
    display: none;
  }

  body.mobile-menu {
    overflow: hidden;
  }
  #sidebar.mobile-menu {
    display: initial;
  }
}

#sidebar ul {
  list-style: none;
  margin: 0; padding: 0;
}

#sidebar a,
#sidebar a:visited,
#sidebar a:active,
 {
  text-decoration: none;
  color: $gray4;
  display: block;
  padding: .75em .5em .75em 2em;
  cursor: default;
}

body.dashboard #sidebar a.dashboard,
body.network #sidebar a.network,
body.services #sidebar a.services,
body.system #sidebar a.system,
body.appcenter #sidebar a.appcenter,
body.appsettings #sidebar a.appsettings {
  color: white;
  background-color: $pink;
}

#sidebar a:hover {
  color: white;
  background-color: $purple;
}

#sidebar hr {
  border-top: 1px solid $gray5;
  border-bottom: none;
  margin: 0;
}

#sidebar .hex-logo {
  font-size: 1.25em;
  position: relative;
  top: calc(100% - 12em);
}



// -----------------------------------------------------------------------------
// Settings panel (right)
// -----------------------------------------------------------------------------

#settings-panel {
  position: absolute;
  left: $sidebar-width;
  top: 0;
  width: calc(100% - #{$sidebar-width});
  height:100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: $min-tablet-width) {
  #settings-panel {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    top: 3em;
  }
}

.has-button-bar {
  height:calc(100% - 3em - #{$button-bar-height}) !important;
}

#button-bar {
  position: absolute;
  left: $sidebar-width; bottom: 0;
  width: calc(100% - #{$sidebar-width} - 4em);
  height: calc(#{$button-bar-height} - 2em);
  z-index: 2;
  padding: 1em 2em;
  text-align: right;
  box-shadow: 2px -1px 4px rgba(0,0,0,0.5);
  background-color: $background-color;
}

.area {
  margin: 0;
  padding: 2em 1em 4em 1em;
}

// -----------------------------------------------------------------------------
// Cover
// -----------------------------------------------------------------------------


// .close-button {
//   position: absolute;
//   top: 0;
//   right: 0px;
//   color: white;
//   text-decoration: none;
//   font-size: 1em;
//   line-height: 1em;
//   padding: 0.5em 1em 0.8em 1em;
//   background-color: rgba(0,0,0,0.5);
// }

// #big-screenshot {
//   // background-color:
//
//   height: 100%;
//   width: 100%;
// }

#cover {
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:99;
  width:100%;
  height:100%;
  display:none;
}

#cover .hex-logo {
  font-size: 2em;
  position: relative;
  top: calc(50% - 2em);
}

// -----------------------------------------------------------------------------
// Settings tables
// -----------------------------------------------------------------------------
.settings-table {
  width: 100%;
  padding: 1em 2em 2em 2em;
}
.settings-table td {
  padding-top: 1em;
  padding-bottom: 1em;
}

// no padding for nested tables
.settings-table table td {
  padding: 0;
}

.label-column {
  color: #666;
  text-align: right;
  padding-right: 1.5em;
  // width: 20%;
}

.top {
    vertical-align: top;
}

.value-column {
  vertical-align: middle;
}

.settings-table h1 {
  font-size: 1.5em;
  line-height: 1em;
  margin: 0; padding: 0;
}

.settings-table h2 {
  font-size: 1em;
  margin: 0;
  color: $gray3;
  text-shadow:
     2px 0px 0px $background-color,
    -2px 0px 0px $background-color,
    -2px 1px 0px $background-color,
     2px 1px 0px $background-color,
     0px 1px 0px $background-color;
  background: linear-gradient(
    $background-color 22px,
    // darken($background-color, 5%) 22px,
    // darken($background-color, 5%) 24px,
    #acd1e3 22px,
    #acd1e3 23px,
    $background-color 23px
  );
}

.settings-table label {
  font-size: 0.75em;
}




// -----------------------------------------------------------------------------
// System panel
// -----------------------------------------------------------------------------

#screenshot {
  margin: 4.6em 1em 0 1em;
  position: relative;
  float: right;
  z-index: 1;
}

#screenshot {
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  width: 33.3333%;
}

#screenshot a {
  cursor: zoom-in;
}

#screenshot button {
  line-height: 1em;
  margin: 0;
  padding: 0;
  width: 2em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  height: 2em;
  background: black;
  border: 1px solid white;
  opacity: 0.5;
}
// display off status
#screenshot::after {
  display: none;
  background-color: rgba(0,0,0,0.75);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 1em);
  color: white;
  content: "Display off";
  text-align: center;
  padding: 1em 0 0 0;
}
#screenshot.off::after {
  display: initial;
  content: "Display off";
}
#screenshot.standby::after {
  display: initial;
  content: "Display in standby";
}
#screenshot.suspend::after {
  display: initial;
  content: "Display in suspend";
}

#screenshot-thumbnail {
  width: 100%;
  float: left;
}


#screenshot-timestamp {
  font-size: 0.75em;
  background-color: rgba(0,0,0,0.5);
  padding: 0.1em 1em;
  color: white;
  text-align: center;
}

#screenshot-panel {
  height: calc(100% - 4em);
  width: calc(100% - 4em);
  top: 2em;
  left: 2em;
  position: fixed;
  z-index: 100;
  display: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  cursor: zoom-out;
}

#system-area {
  background-color: rgb(183, 210, 219);;
  overflow: hidden;
}

#system-table {
  margin: 0 auto;
  padding: 1em 2em 2em 2em;
  border-collapse: collapse;
  color: white;
  font-weight: 100;
  width: calc(66.66666% - 4em);
}

#system-table td {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 0.5em 1em;
}

// tablet
@media (max-width: $min-desktop-width) {
  #screenshot {
    min-width: 60%;
    margin: 0 auto 2em auto;
    float: none;
    width: calc(100% - 4em);
  }

  #system-table {
    width: calc(100% - 4em);
  }
}

// mobile
@media (max-width: ($max-mobile-width)) {
  #system-table,
  #screenshot {
    width: 100%;
  }
}


// -----------------------------------------------------------------------------
// Health area
// -----------------------------------------------------------------------------

// graphs
.graph-container {
  width: calc(50% - 2em);
  float: left;
  margin: 1em;
}

.graph-container:nth-child(2n) {
}

.graph-container label {
  font-weight: 300;
  display: block;
  text-align: center;
  font-size: 0.8em;
}

.graph {
  width: 100%;
  height: 12em;
  font-size: 0.8em;
}

.flot-text {
}

@media (max-width: ($min-tablet-width - 1)) {
  .graph-container {
    margin-right: 0;
    float: none;
    width: 100%;
  }
}


// -----------------------------------------------------------------------------
// Widgets
// -----------------------------------------------------------------------------
input {
    vertical-align: middle;
}

// text input
input[type=text],
input[type=url],
input[type=password],
input[type=number],
textarea {
  font-family: monospace;
  font-size: 0.8em;
  border: 1px solid $gray4;
  background-color: white;
  padding: 0.5em;
  border-radius: 2px;
}

textarea {
  width: calc(100% - 1em);
  height:10em;
}

// button
button {
  position: relative;
  font-size: 0.8em;
  border-radius: 2px;
  border: none;
  padding: 0.5em 2em;
  background-image: linear-gradient($pink, $purple);
  color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  margin: 0 0.2em 0.4em 0;
}

button:active {
  box-shadow: none;
  top: 1px;
  color: $gray5;
}

table button {
  line-height: 1em;
  padding: 0.5em;
  font-weight: 100;
}

button.discreet {
    background: rgba(255,255,255,0.15);
    box-shadow: none;
    border: 1px solid darken($blue, 20%);
    color: darken($blue, 20%);
    font-weight: 100;
}

button.discreet:active {
  top: 0;
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.3);
}

label {
    color: $gray3;
}

input[type=text] ~ label,
input[type=url] ~ label,
input[type=number] ~ label {
  margin-left: 0.3em;
  margin-right: 1.2em;
}

input[disabled],
input[disabled] ~ label,
input[type=text][disabled] ~ label,
input[type=checkbox][disabled] ~ label,
input[type=number][disabled] ~ label {
  opacity: 0.3;
}

// switch
input.switch:empty {
  display: none;
}
input.switch:empty ~ label {
  position: relative;
  float: left;
  line-height: 1.6em;
  text-indent: 4.5em;
  margin: 0.2em 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.switch:empty ~ label:before,
input.switch:empty ~ label:after
{
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  width: calc(3.5em + 1px);
  background-color: $gray5;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  border-radius: 3px;
}


input.switch:empty ~ label:after
{
  width: 1.5em;
  top: 1px;
  bottom: 1px;
  margin-left: 1px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
input.switch:checked ~ label:before
{
  background-color: $pink;
}

input.switch:checked ~ label:after
{
  margin-left: 2em;
}

.switch ~ * {
    clear: both;
    display: block;
    margin-top: 2.4em;
}



// -----------------------------------------------------------------------------
// App center
// -----------------------------------------------------------------------------
#active-app-area {
  background-color: #333;
  overflow: auto;
  color: white;
}

#active-app-info,
#active-app-description {
  margin: 1em;
  float: left;
  width: calc(50% - 2em);
}

#active-app-area img {
  border: 1px solid rgba(255,255,255,0.3);
  float: left;
  width: calc(33.33333% - 3em);
  margin: 1em;
}

#active-app-area .current-app {
  font-size: 0.8em;
  background-color: #999;
  color: #333;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 2px;
}

#active-app-area h1 {
  text-align: left;
  color: $blue;
  margin: 0.5em 0 0 0;
}

#appcenter-area .app {
  float: left;
  width: calc(33.333% - 2em);
  background-color: white;
  padding: 0;
  margin-bottom: 6em;
  margin-left: 1em;
  margin-right: 1em;
  position: relative;
}

.app img {
  width: 100%;
  display: block;
}

.app .info-area {
    position: absolute;
    top: 0;
    height: calc(100% + 4em);
    width: 100%;
    overflow: hidden;
}

.app .info {
  position: relative;
  height: 100%;
  top: calc(100% - 4em);
  transition: top 0.3s;
  padding: 0.5em 1em;
  background-color: rgba($gray5,0.9);
}

.app:hover .info {
  top: 0;
}

.app .info .name {
  display: block;
  line-height: 2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.app .info .developer {
  display: block;
  font-size: 0.8em;
  line-height: 1em;
  margin-bottom: 0.875em;
}

.app .info .description {
  font-size: 0.8em;
  height: calc(100% - 10em);
  overflow: auto;
  margin: 0.5em 0 0 0;
}

.app .info button {
  padding: 0.5em 0;
  width: calc(50% - 0.166666em);
  margin: 1.25em 0 0 0;
}

// mobile
@media (max-width: $min-tablet-width) {
  #appcenter-area .app {
    width: calc(100% - 2em);
  }
  #active-app-info,
  #active-app-description {
    // float: none;
    width: calc(100% - 2em);
  }
}

// tablet
@media (min-width: $min-tablet-width) and (max-width: $min-desktop-width) {
  #appcenter-area .app {
    width: calc(50% - 2em);
  }
}

// desktop
@media (min-width: $min-wide-desktop-width) {
  #appcenter-area .app {
    width: calc(25% - 2em);
  }
  #active-app-info {
    width: calc(33.333% - 2em);
  }
  #active-app-description {
    width: calc(66.666% - 2em);
  }
}

// off loader_animation
@keyframes off-white {
    0% { opacity: 0; height: 100%; top:   0; left:   0; width: 100%; }
   30% { opacity: 1; height: 100%; top:   0; left:   0; width: 100%; }
   35% { opacity: 1; height: 100%; top:   0; left:   0; width: 100%; }
   50% { opacity: 1; height:  5px; top: 50%; left:   0; width: 100%; }
   60% { opacity: 1; height:  5px; top: 50%; left: 50%; width:  5px; }
   80% { opacity: 1; height:  5px; top: 50%; left: 50%; width:  5px; }
   85% { opacity: 0; height:  5px; top: 50%; left: 50%; width:  5px; }
   90% { opacity: 1; height:  5px; top: 50%; left: 50%; width:  5px; }
  100% { opacity: 0; height:  5px; top: 50%; left: 50%; width:  5px; }    
}
@keyframes off-black {
    0% { opacity: 0; }
   30% { opacity: 0; }
   35% { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes off-logo {
    0% { opacity: 0.0; }
  100% { opacity: 0.6; }
}

.off-cover {
  height: 100%; 
  width: 100%; 
  position: fixed; 
  opacity:0; 
  animation-duration: 1s; 
  animation-fill-mode: forwards;
}

#off-black {
  background: black; 
  z-index: 997; 
  animation-name: off-black; 
}

#off-white {
  background: white;
  z-index: 998;
  animation-name: off-white;
}

#off-logo {
  opacity:0;
  z-index: 999; 
  position: absolute; 
  width: 100px; 
  top: 40%; 
  left: calc(50% - 50px); 
  animation-name: off-logo; 
  animation-duration: 3s; 
  animation-fill-mode: forwards; 
  animation-delay: 1s;
}
