// -----------------------------------------------------------------------------
// VARIABELS
// -----------------------------------------------------------------------------

// breakpoints
$max-mobile-width: 480px;
$min-tablet-width: 768px;
$min-desktop-width: 1024px;
$max-tablet-width: $min-desktop-width - 1;
$min-wide-desktop-width: 1366px;

// layout
$sidebar-width: 14rem;
$button-bar-height: 4rem;

// colors
$pink: #e60050;
$purple: #a2185b;
$blue: rgb(0,196,255);
$orange: #f39a00;

$white: white;
$gray1: #f7f9fa;
$gray2: #282828;
$gray3: #404040;
$gray4: #ccc;
$gray5: #ddd;
$gray6: #eee;

$sidebar-background: $gray2;
$background-color: $gray1;

// widgets
$widget-border-radius: 2px;
$widget-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
$widget-box-shadow-light: 0 1px 2px 0 rgba(0,0,0,0.2);
$widget-background: rgba(0,0,0,0.05);


// -----------------------------------------------------------------------------
// INCLUDES
// -----------------------------------------------------------------------------

@import "partials/fonts";
@import "partials/logo";
@import "partials/buttons";
@import "partials/switch";
@import "partials/toggle-button";
@import "partials/tabs";
@import "partials/progress-bar";
@import "partials/columns";
@import "partials/area";


// -----------------------------------------------------------------------------
// GLOBAL STUFF
// -----------------------------------------------------------------------------

html, body {
  font-family: 'ClearSans', sans-serif;
  font-weight: 100;
  font-size: 18px;
  margin: 0; padding: 0;
  width:100%;
  height:100%;
  position:relative;
  background-color: $gray1;
}

// Disable certain interactions on touch devices
// so it feels more like a real application
body {
  -webkit-touch-callout: none;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.gray {
  color: $gray4;
  // font-size: 0.8em;
}

.hint {
  color: $gray3;
  font-size: 0.8rem;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

h1 {
  color: $blue;
}

.center {
  text-align: center;
}

a {
  color: darken($blue, 20%);
}

a:hover {
  color: darken($blue, 10%);
}

strong {
  font-weight: 300;
}

@media (max-width: ($max-mobile-width)) {
  .hidden_mobile {
    display: none;
  }
}

img {
  max-width: 100%;
}


// -----------------------------------------------------------------------------
// Sidebar
// -----------------------------------------------------------------------------
#sidebar-toggle {
  display: none;
  position: absolute;
  width: 100%;
  height: 1rem;
  background-color: #666;
  z-index: 98;
  text-align: center;
  line-height: 1rem;
  padding: 1rem 0;
  color: $gray5;
  cursor: pointer;
}
#sidebar-toggle:hover {
  color: white;
}

#sidebar-toggle img {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
#sidebar-toggle span {
  position: relative;
  top: -0.1rem;
  cursor: pointer;
}

#sidebar {
  // font-weight: 100;
  left: 0; top: 0;
  width: $sidebar-width;
  height: calc(100% - 2rem);
  padding: 2rem 0 0 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: $sidebar-background;
  position: absolute;
}
#sidebar.mobile-menu {
  display: initial;
}

@media (max-width: $min-tablet-width) {
  #sidebar-toggle {
      display: initial;
  }
  #sidebar {
    // position: fixed;
    width: 100%;
    height: 100%;
    margin-top: 3em;
    z-index: 97;
    display: none;
  }

  body.mobile-menu {
    overflow: hidden;
  }
  
  #sidebar.mobile-menu {
    display: initial;
  }

  #sidebar .hex-logo {
    left: calc(50% - 1.5em);
  }
}

#sidebar ul {
  list-style: none;
  margin: 0; padding: 0;
}

#sidebar a,
#sidebar a:visited,
#sidebar a:active,
 {
  text-decoration: none;
  color: $gray4;
  display: block;
  padding: .75em .5em .75em 2em;
  cursor: default;
}

body.dashboard #sidebar a.dashboard,
body.network #sidebar a.network,
body.services #sidebar a.services,
body.system #sidebar a.system,
body.appcenter #sidebar a.appcenter,
body.appsettings #sidebar a.appsettings {
  color: white;
  background-color: $pink;
}

#sidebar a:hover {
  color: white;
  background-color: $purple;
}

#sidebar hr {
  border-top: 1px solid $gray5;
  border-bottom: none;
  margin: 0;
}



// -----------------------------------------------------------------------------
// Settings panel (right)
// -----------------------------------------------------------------------------

#settings-panel {
  position: absolute;
  left: $sidebar-width;
  top: 0;
  width: calc(100% - #{$sidebar-width});
  height:100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: $min-tablet-width) {
  #settings-panel {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    top: 3em;
  }
}

.has-button-bar {
  height:calc(100% - 3em - #{$button-bar-height}) !important;
}

#button-bar {
  position: absolute;
  left: $sidebar-width; bottom: 0;
  width: calc(100% - #{$sidebar-width} - 4em);
  height: calc(#{$button-bar-height} - 2em);
  z-index: 2;
  padding: 1rem 2em;
  text-align: right;
  box-shadow: 2px -1px 4px rgba(0,0,0,0.5);
  background-color: $background-color;
}



// -----------------------------------------------------------------------------
// Cover
// -----------------------------------------------------------------------------


// .close-button {
//   position: absolute;
//   top: 0;
//   right: 0px;
//   color: white;
//   text-decoration: none;
//   font-size: 1rem;
//   line-height: 1rem;
//   padding: 0.5em 1rem 0.8em 1rem;
//   background-color: rgba(0,0,0,0.5);
// }

// #big-screenshot {
//   // background-color:
//
//   height: 100%;
//   width: 100%;
// }

#cover {
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:99;
  width:100%;
  height:100%;
  display:none;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

#cover .hex-logo {
  font-size: 2em;
  position: relative;
  top: calc(50% - 2em);
}

// -----------------------------------------------------------------------------
// Settings tables
// -----------------------------------------------------------------------------
.settings-table {
  width: 100%;
  padding: 1rem 2em 2em 2em;
}

.settings-table + .settings-table {
    margin-top: -3rem;
}

.settings-table td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

// no padding for nested tables
.settings-table table td {
  padding: 0;
}

.label-column {
  color: #666;
  text-align: right;
  padding-right: 1.5em;
  width: 10rem;
  // hyphens: auto;
}

// tablet
// @media (max-width: $min-wide-desktop-width) {
//   .label-column {
//     width: 20%;
//   }
// }
// tablet
@media (max-width: $min-desktop-width) {
  .label-column {
    width: 30%;
  }
}
// mobile
@media (max-width: ($max-mobile-width)) {
  .label-column {
    width: 50%;
  }
}

.top {
    vertical-align: top;
}

.value-column {
  vertical-align: middle;
}

.settings-table h1 {
  font-size: 1.5em;
  line-height: 1rem;
  margin: 0; padding: 0;
}

.settings-table h2 {
  font-size: 1rem;
  font-weight: normal;
  margin: 2rem 0 0 0;
  color: $gray3;
  text-shadow:
     2px 0px 0px $background-color,
    -2px 0px 0px $background-color,
    -2px 1px 0px $background-color,
     2px 1px 0px $background-color,
     0px 1px 0px $background-color;
  background: linear-gradient(
    $background-color 22px,
    // darken($background-color, 5%) 22px,
    // darken($background-color, 5%) 24px,
    #acd1e3 22px,
    #acd1e3 23px,
    $background-color 23px
  );
}

// first header
.settings-table > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > h2 {
  margin: 0;
}

.settings-table label {
  font-size: 0.75em;
  white-space: nowrap;
}

.settings-table form {
  line-height: 2;
}




// -----------------------------------------------------------------------------
// System panel
// -----------------------------------------------------------------------------

#screenshot {
  margin: 3.6rem 0 0 0;
  position: relative;
  box-shadow: $widget-box-shadow-light;
}

@media (max-width: $min-desktop-width - 1) {
  #screenshot {
    margin: 0;
  }
}

#screenshot a {
  cursor: zoom-in;
}

#screenshot button {
  line-height: 1rem;
  margin: 0;
  padding: 0;
  width: 2em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  height: 2em;
  background: black;
  border: 1px solid white;
  opacity: 0.5;
}
// display off status
#screenshot::after {
  display: none;
  background-color: rgba(0,0,0,0.75);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 1rem);
  color: white;
  content: "Display off";
  text-align: center;
  padding: 1rem 0 0 0;
}
#screenshot.off::after {
  display: initial;
  content: "Display off";
}
#screenshot.standby::after {
  display: initial;
  content: "Display in standby";
}
#screenshot.suspend::after {
  display: initial;
  content: "Display in suspend";
}
  
#screenshot-thumbnail {
  width: 100%;
  float: left;
}


#screenshot-timestamp {
  font-size: 0.75em;
  background-color: rgba(0,0,0,0.5);
  padding: 0.1rem 1rem;
  color: white;
  text-align: center;
}

#screenshot-panel {
  height: calc(100% - 4em);
  width: calc(100% - 4em);
  top: 2em;
  left: 2em;
  position: fixed;
  z-index: 100;
  display: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  cursor: zoom-out;
}

#system-table {
  border-collapse: collapse;
  width: 100%;
}

#system-table td {
    border-top: 1px solid $gray3;
    border-bottom: 1px solid $gray3;
    padding: 0.5rem 1rem;
}


// -----------------------------------------------------------------------------
// Health area
// -----------------------------------------------------------------------------

.graph-label {
  font-weight: 300;
  display: block;
  text-align: center;
  font-size: 0.8em;
}

.graph {
  width: 100%;
  height: 10rem;
  font-size: 0.8em;
}

.flot-text {
}



// -----------------------------------------------------------------------------
// Widgets
// -----------------------------------------------------------------------------
input {
    vertical-align: middle;
}

// text input
input[type=text],
input[type=url],
input[type=password],
input[type=number],
textarea {
  font-family: monospace;
  font-size: 0.8em;
  border: 1px solid $gray4;
  background-color: white;
  padding: 0.5em;
  border-radius: $widget-border-radius;
  width: 100%;
  max-width: 15rem;
}

textarea {
  width: calc(100% - 1rem);
  height:10em;
}

label {
    color: $gray3;
}

input[type=text] ~ label,
input[type=url] ~ label,
input[type=number] ~ label {
  margin-left: 0.3em;
  margin-right: 1.2em;
}

input[disabled],
input[disabled] ~ label,
input[type=text][disabled] ~ label,
input[type=checkbox][disabled] ~ label,
input[type=number][disabled] ~ label {
  opacity: 0.3;
}



// -----------------------------------------------------------------------------
// App center
// -----------------------------------------------------------------------------

// installed-presentation

// #installed-presentation img.preview-image {
//   border: 1px solid rgba(255,255,255,0.3);
// }


#installed-presentation button {
  margin-bottom: 0;
}

// packages

#appcenter .package {
  float: left;
  width: calc(33.333% - 2em);
  padding: 0;
  margin-bottom: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
}

.package img {
  width: 100%;
  display: block;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.package .metainfo {
  position: relative;
  height: 100%;
  transition: top 0.3s;
  padding: 0.5em 0;
}

.package .metainfo .name {
  display: block;
  line-height: 2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.package .metainfo .description {
  font-size: 0.8em;
  height: 3em;
  overflow: hidden;
  margin: 0.5em 0 0 0;
  line-height: 1.5em;
}

// .package .metainfo button {
//   padding: 0.5em 0;
//   width: calc(50% - 0.166666em);
//   margin: 1.25em 0 0 0;
// }

// mobile
@media (max-width: $min-tablet-width) {
  #appcenter .package {
    width: calc(100% - 2em);
  }
}

// tablet
@media (min-width: $min-tablet-width) and (max-width: $min-desktop-width) {
  #appcenter .package {
    width: calc(50% - 2em);
  }
}

// desktop
@media (min-width: $min-wide-desktop-width) {
  #appcenter .package {
    width: calc(25% - 2em);
  }
}


// -----------------------------------------------------------------------------
// package details
// -----------------------------------------------------------------------------

#package-media {
  padding: 0;
}

#package-media ul {
  list-style: none;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 2rem 0rem;
  white-space: nowrap;
}

#package-media li {
    display: inline-block;
    margin: 0 1rem;
}

#package-media img {
    width: 16rem;
}

// off loader_animation
@keyframes off-white {
    0% { opacity: 0; height: 100%; top:   0; left:   0; width: 100%; }
   30% { opacity: 1; height: 100%; top:   0; left:   0; width: 100%; }
   35% { opacity: 1; height: 100%; top:   0; left:   0; width: 100%; }
   50% { opacity: 1; height:  5px; top: 50%; left:   0; width: 100%; }
   60% { opacity: 1; height:  5px; top: 50%; left: 50%; width:  5px; }
   80% { opacity: 1; height:  5px; top: 50%; left: 50%; width:  5px; }
   85% { opacity: 0; height:  5px; top: 50%; left: 50%; width:  5px; }
   90% { opacity: 1; height:  5px; top: 50%; left: 50%; width:  5px; }
  100% { opacity: 0; height:  5px; top: 50%; left: 50%; width:  5px; }    
}
@keyframes off-black {
    0% { opacity: 0; }
   30% { opacity: 0; }
   35% { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes off-logo {
    0% { opacity: 0.0; }
  100% { opacity: 0.6; }
}

.off-cover {
  height: 100%; 
  width: 100%; 
  position: fixed; 
  opacity:0; 
  animation-duration: 1s; 
  animation-fill-mode: forwards;
}

#off-black {
  background: black; 
  z-index: 997; 
  animation-name: off-black; 
}

#off-white {
  background: white;
  z-index: 998;
  animation-name: off-white;
}

#off-logo {
  opacity: 0;
  z-index: 999;
  position: absolute;
  top: calc(50% - 155px / 2);
  left: calc(50% - 256px / 2);
  animation-name: off-logo;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 0.25s;
  background: url('/static/img/box-sleeping.gif');
  width: 256px;
  height: 155px;
}
