
@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-Thin-webfont.eot');
    src: url('../fonts/ClearSans-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Thin-webfont.woff') format('woff'),
         url('../fonts/ClearSans-Thin-webfont.ttf') format('truetype'),
         url('../fonts/ClearSans-Thin-webfont.svg#clear_sans_thinregular') format('svg');
    font-weight: 100;
    font-style: normal;

}


@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-Regular-webfont.eot');
    src: url('../fonts/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Regular-webfont.woff') format('woff'),
         url('../fonts/ClearSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/ClearSans-Regular-webfont.svg#clear_sans_thinregular') format('svg');
    font-weight: 300;
    font-style: normal;

}
