{% extends "base.html" %}

{% block content %}

{% if installed_app %}
<div id="active-app-area" class="area">
    
    <img src="/app/preview_image.jpg?{{time_stamp}}" />
    <div id="active-app-description">
        <span class="current-app">Currently installed</span>
        <h1>{{installed_app.name}}</h1>
        <p>
            Version {{installed_app.version}}<br/>
            By <a href="{{installed_app.homepage}}">{{installed_app.developer}}</a>
        </p>
        {% if installed_app.has_settings %}
        <p><button onclick="document.location='/appsettings';">Settings</button></p>
        {% endif %}
        <span>{{installed_app.description}}</span>
  </div>
</div>
{% endif %}

<div id="appcenter-area" class="area">
    {% for app in available_apps if not app.name == installed_app.name %}
    <div class="app">
        <img class="preview-image" src="/appcenter/{{app.name}}/bundle/preview_image.jpg" />
        <div class="info-area">
            <div class="info">
                <strong class="name">{{app.name}}</strong>
                <span class="developer">By <a href="{{app.homepage}}">{{app.developer}}</a></span>
                <div class="description">{{app.description}}</div>
                <button onclick="install('{{app.name}}')">Install</button>
                <!-- <button onclick="">Details</button> -->
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block page_footer_scripts %}
<script type="text/javascript">

    $(document).ready(function() {
    });


    var install = function(name) {
        {% if installed_app %}
            if(!confirm("Do you want to install "+name+"? {{installed_app.name}} will be uninstalled!") ) {
                return;
            }
        {% endif %}

        $.ajax({
            url: "/tooloop/api/v1.0/appcenter/install/"+name
        }).done(function( data ) {
           location.reload();
        });
    }

</script>
{% endblock %}
