{% extends "base.html" %}

{% block content %}

{% if installed_presentation %}
<div id="active-app-area" class="area">
    
    <img src="https://via.placeholder.com/960x540" />
    <div id="active-app-description">
        <span class="current-app">Currently installed</span>
        <h1>{{installed_presentation.shortname}}</h1>
        <p>
            Version {{installed_presentation.candidate.version}}<br/>
            By <a href="{{installed_presentation.candidate.homepage}}">{{installed_presentation.candidate.record["Maintainer"]}}</a>
        </p>
        <span>{{installed_presentation.candidate.summary}}</span>
        <p>
            <button onclick="uninstall('{{installed_presentation.shortname}}')">Remove</button>
            {% if installed_presentation.has_settings %}
            <button onclick="document.location='/appsettings';">Settings</button>
            {% endif %}
        </p>
  </div>
</div>
{% endif %}

<div id="appcenter-area" class="area">

    <h2>Presentations</h2>
    {% for package in available_packages.presentations if not package.shortname == installed_presentation.shortname %}
    <div class="app">
        <img class="preview-image" src="https://via.placeholder.com/960x540" />
        <div class="info-area">
            <div class="info">
                <strong class="name"{% if package.is_installed %} style="color: red"{% endif %}>{{package.candidate.record["Name"]}}</strong>
                <span class="developer">By <a href="{{package.candidate.homepage}}">{{package.candidate.record["Maintainer"]}}</a></span>
                <div class="description">{{package.candidate.summary}}</div>
                {% if package.is_installed %}
                    <button onclick="uninstall('{{package.shortname}}')">Remove</button>
                {% else %}
                    <button onclick="install('{{package.shortname}}')">Install</button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

    <h2 style="clear:both">Addons</h2>
    {% for package in available_packages.addons if not package.shortname == installed_presentation.name %}
    <div class="app">
        <img class="preview-image" src="https://via.placeholder.com/960x540" />
        <div class="info-area">
            <div class="info">
                <strong class="name"{% if package.is_installed %} style="color: red"{% endif %}>{{package.candidate.record["Name"]}}</strong>
                <span class="developer">By <a href="{{package.candidate.homepage}}">{{package.developer}}</a></span>
                <div class="description">{{package.candidate.summary}}</div>
                {% if package.is_installed %}
                    <button onclick="uninstall('{{package.shortname}}')">Remove</button>
                {% else %}
                    <button onclick="install('{{package.shortname}}')">Install</button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}


{% block page_footer_scripts %}
<script type="text/javascript">

    $(document).ready(function() {
    });

    {#
    if(!confirm("Do you want to install "+name+"? {{installed_presentation.shortname}} will be uninstalled!") ) {
        return;
    }
    #}

    var install = function(name) {
        $.ajax({
            url: "/tooloop/api/v1.0/appcenter/install/"+name
        }).done(function( data ) {
           location.reload();
        });
    }


    var uninstall = function(name) {
        $.ajax({
            url: "/tooloop/api/v1.0/appcenter/uninstall/"+name
        }).done(function( data ) {
           location.reload();
        });
    }

</script>
{% endblock %}
