<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tooloop OS Settings</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    {% block page_styles %}
    {% endblock %}

    {% block page_header_scripts %}
    {% endblock %}
</head>
<body class="{{page}}" lang="en">
    {% include 'parts/sidebar.html' %}

    <div id="settings-panel">
        {% block content %}
        {% endblock %}
    </div>

    {% include 'parts/footer-scripts.html' %}

    {% block page_footer_scripts %}
    {% endblock %}
</html>
