{% extends "base.html" %}

{% block page_styles %}
    <link rel="prefetch" href="/static/img/box-sleeping.gif">
{% endblock %}

{% block content %}
    <div id="system-area" class="area">

        {% if screenshot_service_running %}
            <div id="screenshot" class="{{display_state|lower}}">
                <a onclick="showScreenshotPanel()">
                    <img id="screenshot-thumbnail" src="/static/img/placeholder.png" />
                    <div id="screenshot-timestamp"></div>
                </a>
                <button onclick="grabScreenshot()"><img src="/static/img/screenshot_icon.png"></button>
            </div>
        {% endif %}

        <table id="system-table">
            <tr>
                <td colspan="2" style="border-top: none; padding: 0"><h1>{{hostname}}</h1></td>
            </tr>
            <tr>
                <td class="label-column">Machine</td>
                <td class="value-column">
                    <span style="white-space: nowrap;">
                        <button onclick="poweroff()">Power off</button>
                        <button onclick="reboot()" style="margin-left:0.5em;">Reboot</button>
                    </span>
                </td>
            </tr>
            {# {% if installed_presentation %} #}
            <tr>
                <td class="label-column">{{ installed_presentation.name }}</td>
                <td class="value-column">
                    <span style="white-space: nowrap;">
                        <button onclick="startPresentation()">Start</button>
                        <button onclick="stopPresentation()">Quit</button>
                    </span>
                </td>
            </tr>
            {# {% endif %} #}
            <tr>
                <td class="label-column">Display</td>
                <td class="value-column" style="font-size: 0.75rem;">
                    <div>
                        <input id="display-switch" name="display-switch" class="switch" {% if display_state|lower == 'on' or display_state|lower == 'unknown'%}checked=""{% endif %} type="checkbox">
                        <label for="display-switch">&nbsp;</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label-column">Volume</td>
                <td class="value-column" style="font-size: 0.75rem;">
                    <div style="float: left; margin: 0.25rem 1em 0 0;">
                        <input 
                            id="volume-slider" 
                            {% if audio_mute %}disabled{% endif %}
                            name="volume-slider" 
                            type="range" 
                            min="0" max="150" 
                            value="{{audio_volume}}" 
                            style="margin-left: 0em;">
                        <label for="volume-slider" id="volume-label" style="width: 3rem; display: inline-block;">{{audio_volume}} %</label>
                    </div>
                    <div style="float: left;">
                        <input id="volume-switch" name="volume-switch" class="switch" type="checkbox"{% if not audio_mute %} checked{% endif %}>
                        <label for="volume-switch">&nbsp;</label>
                    </div>
                </td>
            </tr>
        </table>
    </div> <!-- end system-area -->

    <div id="health-area" class="area">
        {% if false %}
            <div class="graph-container">
                <label>GPU Usage [%]</label>
                <div id="gpu-usage-graph" class="graph"></div>
            </div>
            <div class="graph-container">
                <label>GPU temperature [°C]</label>
                <div id="gpu-temperature-graph" class="graph"></div>
            </div>
        {% endif %}
        <div class="graph-container">
            <label>CPU Usage [%]</label>
            <div id="cpu-usage-graph" class="graph"></div>
        </div>
        <div class="graph-container">
            <label>CPU temperature [°C]</label>
            <div id="cpu-temperature-graph" class="graph"></div>
        </div>
        <div class="graph-container">
            <label>Memory usage [%]</label>
            <div id="memory-usage-graph" class="graph"></div>
        </div>
        <div class="graph-container">
            <label>Disk space</label>
            <div id="hd-usage-diagram" class="graph"></div>
        </div>
    </div> <!-- end system-area -->

    {% if screenshot_service_running %}
    <div id="screenshot-panel"  onclick="hideCover()">
        <!-- <a href="#" onclick="hideCover()" class="close-button">&times;</a> -->
        <!-- <div id="big-screenshot"></div> -->
    </div>
    {% endif %}
    <div id="cover" onclick="hideCover()">
        <div class="hex-logo animated">
            <div class="hexagon"></div>
            <div class="hexagon"></div>
            <div class="hexagon"></div>
            <div class="hexagon"></div>
            <div class="hexagon"></div>
        </div>
    </div>
{% endblock %}



{% block page_footer_scripts %}
<script type="text/javascript" src="/static/js/jquery.flot.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.flot.time.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.flot.resize.min.js"></script>
<!-- <script type="text/javascript" src="/static/js/jquery.flot.crosshair.min.js"></script> -->
<script type="text/javascript" src="/static/js/jquery.flot.pie.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {

    {% if screenshot_service_running %}
    // -------------------------------------------------------------------------
    // Screenshots
    // -------------------------------------------------------------------------
    // load thumbnail
    loadLatestThumbnail();
    // do it again every x seconds
    setInterval( loadLatestThumbnail, 1000*10);
    {% endif %}


    // -------------------------------------------------------------------------
    // Display State
    // -------------------------------------------------------------------------
    $('#display-switch').on('change', function() {
        state = this.checked ? 'on' : 'off';
        setDisplayState(state, function(data) {
            $('#screenshot').removeClass();
            if (data.Display.toLowerCase() !== 'on'){
                $('#screenshot').addClass(data.Display.toLowerCase());
            }
        });
    });

    // -------------------------------------------------------------------------
    // Volume
    // -------------------------------------------------------------------------
    // get widgets
    var volumeSlider = $('#volume-slider');
    var volumeLabel = $('#volume-label');

    // setup event handlers
    volumeSlider.on('input', function() {
        volumeLabel.html(volumeSlider.val() + " %");
        setAudioVolume($(this).val());
    });

    $('#volume-switch').on('change', function() {
        setAudioMute(!this.checked);
        volumeSlider.prop("disabled", !this.checked);
    });

    // -------------------------------------------------------------------------
    // Graphs
    // -------------------------------------------------------------------------

    var commonGraphOptions = {
        grid: { borderWidth: 0, borderColor: '#ccc', backgroundColor: "white", hoverable: true, autoHighlight: false, margin:0, labelMargin: 0, axisMargin: 0},
        lines: { show: true, steps: false, lineWidth: 1, fill: true, fillColor: "rgba(0,196,255,0.1)" },
        points: { show: false },
        yaxis: { min: 0, max: 100, ticks: 4 },
        xaxis: { mode: "time", ticks: 2, tickFormatter: localeTimeTickFormatter },
        timezone: "browser",
        shadowSize: 0,
        colors:["rgb(0,196,255)"],
        legend: { labelBoxBorderColor: 'none', show: false },
        crosshair: { mode: "x", color: "rgb(230,0,80)" },
    }
    // deep copy of common options
    var temperatureGraphOptions = jQuery.extend(true, {}, commonGraphOptions);
    var usageGraphOptions = jQuery.extend(true, {}, commonGraphOptions);

    temperatureGraphOptions.yaxis = { min: 20, max: 85, ticks: 3 };
    temperatureGraphOptions.grid.markings = [
        {
            yaxis: { from: 65, to: 65 },
            color: "#f39a00",
            lineWidth: 1
        },
        {
            yaxis: { from: 75, to: 75 },
            color:"#e60050",
            lineWidth: 1
        }
    ];

    var cpuUsageGraphOptions = jQuery.extend(true, {}, usageGraphOptions);
    cpuUsageGraphOptions.legend.show = true;

    var usageDiagramOptions = {
        series: {
            pie: {
                show: true,
                innerRadius: 0.6,
                stroke: {width: 0},
                label: {
                    show: false,
                    radius: 2,
                    formatter: hsUsageLabelFormatter,
                }
            }
        },
        legend: { show: true, labelBoxBorderColor: 'none' },
        colors:["#ddd", "rgb(230,0,80)", "#404040", "rgb(0,196,255)", "#f39a00  "]
    };

    function hsUsageLabelFormatter(label, series) {
        var val = series.data[0][1]/1024; // MB
        (val <= 999) ? val = Math.round(val)+" MB" : val = (val/1024).toFixed(2)+" GB";

        return (
            '<div style="text-align:center; font-size:0.8em;">'
            + '<strong>' + label + '</strong><br/>'
            + val
            +'</div>'
        );
    }

    function localeTimeTickFormatter(val, axis) {
        var d = new Date(val);
        return d.toLocaleTimeString();
    }


    var cpuUsageData = [
        { label: "Core 1", data: [] },
        { label: "Core 2", data: [] },
        { label: "Core 3", data: [] },
        { label: "Core 4", data: [] }
    ];
    var cpuTemperatureData = [{label: "Temperature [°C]", data: [] }];
    // var gpuTemperatureData = [{label: "Temperature [°C]", data: [] }];
    var memoryUsageData = [{label: "Usage [%]", data: [] }];
    var hdUsageData = [
        { label: "Available", data: 100 },
        { label: "Data", data: 0 },
        { label: "Logs", data: 0 },
        { label: "Presentation app", data: 0 },
        { label: "Screenshots", data: 0 }
    ];

    // init graphs
    var cpuUsageGraph = $.plot("#cpu-usage-graph", cpuUsageData, usageGraphOptions);
    cpuUsageGraph.getOptions().legend.show = true
    // document.d = cpuUsageGraph;
    var cpuTemperatureGraph = $.plot("#cpu-temperature-graph", cpuTemperatureData, temperatureGraphOptions);
    // var gpuTemperatureGraph = $.plot("#gpu-temperature-graph", gpuTemperatureData, temperatureGraphOptions);
    var memoryUsageGraph = $.plot("#memory-usage-graph", memoryUsageData, usageGraphOptions);
    var hdUsageDiagram = $.plot("#hd-usage-diagram", hdUsageData, usageDiagramOptions);

    function onSystemUsageDataReceived(systemUsage) {
        // we don't get data, if the serer is down
        if(systemUsage) {
            // push the new data into our data array
            cpuUsageData[0].data.push([new Date(systemUsage.cpu.timestamp).getTime(), systemUsage.cpu.usage_percent.cpu0]);
            cpuUsageData[1].data.push([new Date(systemUsage.cpu.timestamp).getTime(), systemUsage.cpu.usage_percent.cpu1]);
            cpuUsageData[2].data.push([new Date(systemUsage.cpu.timestamp).getTime(), systemUsage.cpu.usage_percent.cpu2]);
            cpuUsageData[3].data.push([new Date(systemUsage.cpu.timestamp).getTime(), systemUsage.cpu.usage_percent.cpu3]);
            cpuTemperatureData[0].data.push([new Date(systemUsage.cpu.timestamp).getTime(), systemUsage.cpu.temperature]);
            // gpuTemperatureData[0].data.push([new Date(systemUsage.gpu.timestamp).getTime(), systemUsage.gpu.temperature]);
            memoryUsageData[0].data.push([new Date(systemUsage.memory.timestamp).getTime(), systemUsage.memory.usage_percent]);
            onSystemUsageDataReceived

            hdUsageData[0].data = systemUsage.hd.size - systemUsage.hd.data - systemUsage.hd.logs - systemUsage.hd.presentation - systemUsage.hd.screenshots;
            hdUsageData[1].data = systemUsage.hd.data;
            hdUsageData[2].data = systemUsage.hd.logs;
            hdUsageData[3].data = systemUsage.hd.presentation;
            hdUsageData[4].data = systemUsage.hd.screenshots;
        } else {
            // push some zeros
            time = new Date().getTime()
            cpuUsageData[0].data.push([time, null]);
            cpuUsageData[1].data.push([time, null]);
            cpuUsageData[2].data.push([time, null]);
            cpuUsageData[3].data.push([time, null]);
            cpuTemperatureData[0].data.push([time, null]);
            // gpuTemperatureData[0].data.push([time, null]);
            memoryUsageData[0].data.push([time, null]);
        }
        // remove old points
        if (cpuUsageData[0].data.length > 150) cpuUsageData[0].data.shift();
        if (cpuUsageData[1].data.length > 150) cpuUsageData[1].data.shift();
        if (cpuUsageData[2].data.length > 150) cpuUsageData[2].data.shift();
        if (cpuUsageData[3].data.length > 150) cpuUsageData[3].data.shift();
        if (cpuUsageData[0].data.length > 150) cpuUsageData[0].data.shift();
        if (cpuTemperatureData[0].data.length > 150) cpuTemperatureData[0].data.shift();
        // if (gpuTemperatureData[0].data.length > 150) gpuTemperatureData[0].data.shift();
        if (memoryUsageData[0].data.length > 150) memoryUsageData[0].data.shift();
        // redraw graphs
        cpuUsageGraph.setData(cpuUsageData);
        cpuUsageGraph.setupGrid();
        cpuUsageGraph.draw();
        cpuTemperatureGraph.setData(cpuTemperatureData);
        cpuTemperatureGraph.setupGrid();
        cpuTemperatureGraph.draw();
        // gpuTemperatureGraph.setData(gpuTemperatureData);
        // gpuTemperatureGraph.setupGrid();
        // gpuTemperatureGraph.draw();
        memoryUsageGraph.setData(memoryUsageData);
        memoryUsageGraph.setupGrid();
        memoryUsageGraph.draw();
        hdUsageDiagram.setData(hdUsageData);
        hdUsageDiagram.setupGrid();
        hdUsageDiagram.draw();
    }

    // start regular updates
    setInterval(function(){ getSystemUsage(onSystemUsageDataReceived); }, 3000);

}); // end document ready



{% if screenshot_service_running %}
// -----------------------------------------------------------------------------
// SCREENSHOTS
// -----------------------------------------------------------------------------

var loadLatestThumbnail = function() {
    $.ajax({
        url: '/tooloop/api/v1.0/screenshot/latest',
        dataType: 'json',
        success: function(data) {
            updateScreenshot(data);
        }
    });
}

var latestScreenshot;

var updateScreenshot = function(screenshot) {
    latestScreenshot = screenshot;
    if ($("#screenshot-thumbnail").attr("src") !== latestScreenshot.thumbnail_url) {
        // latestScreenshotThumbnail = new Image();
        // latestScreenshotThumbnail.src = data.thumbnail_url;
        $("#screenshot-thumbnail").attr("src",latestScreenshot.thumbnail_url);
        $('#background-image').css('background-image', 'url("'+latestScreenshot.thumbnail_url+'")');
        $("#screenshot-timestamp").html('Screenshot from ' + new Date(latestScreenshot.date).toLocaleTimeString());
    }
}

var showScreenshotPanel = function() {
    if (latestScreenshot) {
        if (screen.width > 640) {
            $('#cover').fadeIn(100);
            $('#screenshot-panel').fadeIn(100);

            // load big screenshot
            $('#screenshot-panel').css('background-image', 'url("'+latestScreenshot.url+'")')
        } else {
            var screenshot = window.open(latestScreenshot.url, '_blank');
            screenshot.focus();
        }
    }
}

{% endif %}

var hideCover = function() {
    $('#cover').fadeOut(100);
    $('#screenshot-panel').fadeOut(100);
}


// -----------------------------------------------------------------------------
// API calls
// -----------------------------------------------------------------------------

var poweroff = function() {
    if( confirm("Are you sure, you want to power off the machine?") ) {
        
        $.ajax({ 
            url: "/tooloop/api/v1.0/system/poweroff",
            timeout: 1000
        }); 
        
        $('body').append(
            '<div id="off-black" class="off-cover"></div> \
            <div id="off-white" class="off-cover"></div> \
            <div id="off-logo" class="hex-logo"></div>'
        );
    }
}

var rebooting = false;
var rebootTime;
var reboot = function() {
    if( confirm("Are you sure, you want to reboot the machine?") ) {
        rebooting = true;
        rebootTime = new Date();
        $('#cover').fadeIn(100, function(){
            $.ajax({
                url: "/tooloop/api/v1.0/system/reboot",
                timeout: 1000
            }).done(function( data ) {
            });
        });
    }
}

var startPresentation = function() {
    $.ajax({
        url: "/tooloop/api/v1.0/presentation/start"
    }).done(function( data ) {
        setTimeout(grabScreenshot, 2000);
    });
}

var stopPresentation = function() {
    $.ajax({
        url: "/tooloop/api/v1.0/presentation/stop"
    }).done(function( data ) {
        setTimeout(grabScreenshot, 1000);
    });
}

var resetPresentation = function() {
    $.ajax({
        url: "/tooloop/api/v1.0/presentation/reset"
    }).done(function( data ) {
        setTimeout(grabScreenshot, 2000);
    });
}

var grabScreenshot = function() {
    $.ajax({
        url: "/tooloop/api/v1.0/screenshot/grab"
    }).done(function(){
        loadLatestThumbnail();
    });
}

var setDisplayState = function(state, handleData) {
    $.ajax({
        method: 'PUT',
        data: {'state' : state},
        url: "/tooloop/api/v1.0/system/displaystate"
    }).done(function(data){
        handleData(data);
    });
}

var getDisplayState = function(handleData) {
    $.ajax({
        url: "/tooloop/api/v1.0/system/displaystate"
    }).done(function(data){
        handleData(data);
    });
}

var getAudioVolume = function(handleData) {
    $.ajax({
        method: "GET",
        url: "/tooloop/api/v1.0/system/audiovolume"
    }).done(function( data ) {
        handleData(data);
    })
}

var setAudioVolume = function(volume) {
    $.ajax({
        method: "PUT",
        data: { "volume" : volume },
        url: "/tooloop/api/v1.0/system/audiovolume"
    }).done(function( data ) {
        // console.log(data);
    })
}

var setAudioMute = function(mute) {
    $.ajax({
        method: "PUT",
        data: { "mute" : mute },
        url: "/tooloop/api/v1.0/system/audiomute"
    }).done(function( data ) {
        console.log(data);
    })
}


var getSystemUsage = function(doneFunction) {
    $.ajax({
        url: "/tooloop/api/v1.0/system/usage",
        timeout: 3000 // sets timeout to 3 seconds
    }).done(function(data) {
        // recursive call
        doneFunction(data);
        // reset rebooting flag if we receive a packet
        if (data && rebooting) {    
            now = new Date();
            // only if the reboot call was more then 10 seconds ago
            // this way we make sure, that data packet we are receiving is
            // still send before rebooting
            if (now - rebootTime > 10000) {
                rebooting = false;
                hideCover();
            }
        }
    }).fail(function(data){
        doneFunction(null);
    });
}

</script>
{% endblock %}
