{% extends "base.html" %}

{% block content %}
<table class="settings-table">

  <tr><td colspan="2"><h2>Network Services</h2></td></tr>

  <tr>
    <td class="label-column">VNC server</td>
    <td class="value-column">
      <div>
        <input type="checkbox" id="vnc-switch" name="vnc-switch" class="switch"{% if services.vnc%}checked{% endif %} disabled/>
        <label for="vnc-switch">on / off</label>
      </div>
    </td>
  </tr>
  <tr>
    <td class="label-column">SSH server</td>
    <td class="value-column">
      <div>
        <input type="checkbox" id="ssh-switch" name="ssh-switch" class="switch"{% if services.ssh%}checked{% endif %}/>
        <label for="ssh-switch">on / off</label>
      </div>
    </td>
  </tr>
  

  <tr><td colspan="2"><h2>Tools</h2></td></tr>
  <tr>
    <td class="label-column top">Screenshots</td>
    <td class="value-column">
      <div>
        <input type="checkbox" id="screenshots-switch" name="screenshots-switch" class="switch"{% if services.screenshot_service%}checked{% endif %}/>
        <label for="screenshots-switch">on / off</label><br/>
      </div>
    </td>
  </tr>
</table>

{% endblock %}


{% block page_footer_scripts %}
<script type="text/javascript">
  $(document).ready(function() {

    // VNC
    $('#vnc-switch').on('change', function() {
      var command = this.checked ? 'enable' : 'disable';
      $.ajax({
        url: '/tooloop/api/v1.0/services/vnc/'+command
      }).done(function() {
        $.ajax({
          url: '/tooloop/api/v1.0/services/vnc'
        }).done(function(data) {
          $('#vnc-switch').prop('checked', data.vnc);
        });
      });

    });

    // SSH
    $('#ssh-switch').on('change', function() {
      var command = this.checked ? 'enable' : 'disable';
      $.ajax({
        url: '/tooloop/api/v1.0/services/ssh/'+command
      }).done(function() {
        $.ajax({
          url: '/tooloop/api/v1.0/services/ssh'
        }).done(function(data) {
          $('#ssh-switch').prop('checked', data.ssh);
        });
      });

    });

    // screenshots
    $('#screenshots-switch').on('change', function() {
      var command = this.checked ? 'enable' : 'disable';
      $.ajax({
        url: '/tooloop/api/v1.0/services/screenshots/'+command
        // TODO: also change parameters
      }).done(function() {
        $.ajax({
          url: '/tooloop/api/v1.0/services/screenshots'
        }).done(function(data) {
          $('#screenshots-switch').prop('checked', data.screenshot_service);
        });
      });

    });


  });
</script>
{% endblock %}
