{% extends "base.html" %}

{% block content %}
<table class="settings-table">

  <tr><td colspan="2"><h2>Network Services</h2></td></tr>

  <tr>
    <td class="label-column">Screen sharing</td>
    <td class="value-column">
      <div>
        <input type="checkbox" id="vnc-switch" name="vnc-switch" class="switch"{% if services.vnc%}checked{% endif %}/>
        <label for="vnc-switch">on / off</label>
      </div>
    </td>
  </tr>
  <tr>
    <td class="label-column">SSH server</td>
    <td class="value-column">
      <div>
        <input type="checkbox" id="ssh-switch" name="ssh-switch" class="switch"{% if services.ssh%}checked{% endif %}/>
        <label for="ssh-switch">on / off</label>
      </div>
    </td>
  </tr>
  <tr>
    <td class="label-column">Remote configuration</td>
    <td class="value-column">
      <div>
        <input type="checkbox" id="remote-configuration-switch" name="remote-configuration-switch" class="switch"{% if services.remote_configuration%}checked{% endif %}/>
        <label for="remote-configuration-switch">on / off</label>
      </div>
    </td>
  </tr>
  

  <tr><td colspan="2"><h2>Tools</h2></td></tr>
  <tr>
    <td class="label-column top">Screenshots</td>
    <td class="value-column">
      <div>
        <input type="checkbox" id="screenshots-switch" name="screenshots-switch" class="switch"{% if services.screenshot_service%}checked{% endif %}/>
        <label for="screenshots-switch">on / off</label><br/>
      </div>
    </td>
  </tr>
</table>

{% endblock %}


{% block page_footer_scripts %}
<script type="text/javascript">
  $(document).ready(function() {

    // VNC
    $('#vnc-switch').on('change', function() {
      var command = this.checked ? 'enable' : 'disable';
      $.ajax({
        url: '/tooloop/api/v1.0/services/vnc/'+command
      }).done(function() {
        $.ajax({
          url: '/tooloop/api/v1.0/services/vnc'
        }).done(function(data) {
          $('#vnc-switch').prop('checked', data.vnc);
        });
      });

    });

    // SSH
    $('#ssh-switch').on('change', function() {
      var command = this.checked ? 'enable' : 'disable';
      $.ajax({
        url: '/tooloop/api/v1.0/services/ssh/'+command
      }).done(function() {
        $.ajax({
          url: '/tooloop/api/v1.0/services/ssh'
        }).done(function(data) {
          $('#ssh-switch').prop('checked', data.ssh);
        });
      });

    });

    // Remote configuration
    $('#remote-configuration-switch').on('change', function() {
      var command = this.checked ? 'enable' : 'disable';
      
      // return if the user decides not to disable the service
      if (!this.checked) {
        if(!confirm("Are you sure, you want to stop the remote configuration service?\n \nYou can only re-enable it on the machine itself.")) {
          this.checked = true;
          return;
        }
      }

      $.ajax({
        url: '/tooloop/api/v1.0/services/remoteconfiguration/'+command
      }).done(function(data) {
        $('#remote-configuration-switch').prop('checked', data.remote_configuration);
      }).error(function(e){
        console.log("error " + e);
      });
    });

    // screenshots
    $('#screenshots-switch').on('change', function() {
      var command = this.checked ? 'enable' : 'disable';
      $.ajax({
        url: '/tooloop/api/v1.0/services/screenshots/'+command
      }).done(function() {
        $.ajax({
          url: '/tooloop/api/v1.0/services/screenshots'
        }).done(function(data) {
          $('#screenshots-switch').prop('checked', data.screenshot_service);
        });
      });

    });


  });
</script>
{% endblock %}
