<a id="sidebar-toggle" onclick="toggleMenu()">
  <img src="/static/img/menu_icon.png">
  <span>Menu</span>
</a>

<div id="sidebar">
  <ul>
      <li><a href="/dashboard" class="dashboard">Dashboard</a></li>
      <li><a href="/appcenter" class="appcenter">App Center</a></li>
      <li><a href="/services" class="services">Services</a></li>
      <!-- <li><a href="/network" class="network">Network</a></li> -->
      <li><a href="/system" class="system">System</a></li>
  </ul>
  {% if installed_app.has_settings %}
  <hr/>
  <ul>
    <li><a href="/appsettings" class="appsettings">{{installed_app.name}}</a></li>
  </ul>
  {% endif %}
  <img id="logo" <div="" src="/static/img/tooloop_logo.png">
</div>
